USE [master]
GO
/****** Object:  Database [UsualPassage]    Script Date: 2/1/2023 3:03:21 PM ******/
CREATE DATABASE [UsualPassage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsualPassage_Data', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageData.MDF' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UsualPassage_Image_FileGroup] 
( NAME = N'UsualPassage_Image', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageImage.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [UsualPassage_Index_FileGroup] 
( NAME = N'UsualPassage_Index', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageIndex.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UsualPassage_Text_FileGroup] 
( NAME = N'UsualPassage_Text', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageText.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UsualPassage_Xml_FileGroup] 
( NAME = N'UsualPassage_Xml', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageXml.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'UsualPassage_Log', FILENAME = N'E:\SQLServerDataFiles\UsualPassage\UsualPassageLog.LDF' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsualPassage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsualPassage]
GO
/****** Object:  User [ephraimtech\ephwebuser]    Script Date: 2/1/2023 3:03:21 PM ******/
CREATE USER [ephraimtech\ephwebuser] FOR LOGIN [ephraimtech\ephwebuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Passage]    Script Date: 2/1/2023 3:03:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passage](
	[SequenceOrderId] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime2](7) NOT NULL,
	[email] [varchar](256) NOT NULL,
	[URI] [nvarchar](1024) NULL,
	[ScriptureReference] [varchar](max) NULL,
	[Title] [varchar](max) NULL,
	[Commentary] [varchar](max) NULL,
	[Keyword] [varchar](max) NULL,
 CONSTRAINT [PK_Passage] PRIMARY KEY NONCLUSTERED 
(
	[Dated] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Passage] ADD  CONSTRAINT [DF_Passage_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
USE [master]
GO
