USE [master]
GO
/****** Object:  Database [URI]    Script Date: 9/2/2026 10:50:00 PM ******/
CREATE DATABASE [URI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URI_Data', FILENAME = N'D:\SQLServerDataFiles\Uri\URIData.MDF' , SIZE = 53056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [URI_Image_FileGroup] 
( NAME = N'URI_Image', FILENAME = N'D:\SQLServerDataFiles\Uri\URIImage.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [URI_Index_FileGroup] 
( NAME = N'URI_Index', FILENAME = N'D:\SQLServerDataFiles\Uri\URIIndex.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [URI_Text_FileGroup] 
( NAME = N'URI_Text', FILENAME = N'D:\SQLServerDataFiles\Uri\URIText.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [URI_Xml_FileGroup] 
( NAME = N'URI_Xml', FILENAME = N'D:\SQLServerDataFiles\Uri\URIXml.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'URI_Log', FILENAME = N'D:\SQLServerDataFiles\Uri\URILog.LDF' , SIZE = 576448KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URI]
GO
/****** Object:  User [LoginNameSecurity]    Script Date: 9/2/2026 10:50:00 PM ******/
CREATE USER [LoginNameSecurity] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ephraimtech\ephwebuser]    Script Date: 9/2/2026 10:50:00 PM ******/
CREATE USER [ephraimtech\ephwebuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LoginNameSecurity]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LoginNameSecurity]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LoginNameSecurity]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ephraimtech\ephwebuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ephraimtech\ephwebuser]
GO
/****** Object:  SqlAssembly [ProtocolHelper]    Script Date: 9/2/2026 10:50:00 PM ******/
CREATE ASSEMBLY [ProtocolHelper]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300951F17670000000000000000E00002210B010B00000400000006000000000000DE2300000020000000400000000000100020000000020000040000000000000004000000000000000080000000020000000000000300408500001000001000000000100000100000000000001000000000000000000000008C2300004F00000000400000C002000000000000000000000000000000000000006000000C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000E4030000002000000004000000020000000000000000000000000000200000602E72737263000000C0020000004000000004000000060000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000A00000000000000000000000000004000004200000000000000000000000000000000C0230000000000004800000002000500C4200000C8020000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013300300600000000100001100021F406F0300000A153117021F406F0300000A021F2E6F0300000AFE0416FE012B0117000B072D0F00720100007002280400000A0A2B26021F3A6F0300000A16FE0416FE010B072D0F00721100007002280400000A0A2B0500020A2B00062A1E02280500000A2A42534A4201000100000000000C00000076342E302E33303331390000000005006C000000F8000000237E000064010000E000000023537472696E67730000000044020000240000002355530068020000100000002347554944000000780200005000000023426C6F620000000000000002000001471502000900000000FA2533001600000100000004000000020000000200000001000000050000000200000001000000010000000100000000000A0001000000000006004C00450006008C006C000600AC006C000600CA0045000000000001000000000001000100010010001D002C00050001000100502000000000960053000A000100BC2000000000861862000F000200000001006800110062001300190062000F002100D10018002100D9001D00090062000F002E000B0028002E001300310023000480000000000000000000000000000000001D00000004000000000000000000000001003C00000000000000003C4D6F64756C653E0050726F746F636F6C48656C7065722E646C6C0050726F746F636F6C48656C70657200576F7264456E67696E656572696E67006D73636F726C69620053797374656D004F626A6563740050726566697850726F746F636F6C002E63746F72005552490053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500537472696E6700496E6465784F6600436F6E63617400000F6D00610069006C0074006F003A00000F68007400740070003A002F002F00000000000E2A4200E9D40B43A8043245ED9F65260008B77A5C561934E0890400010E0E03200001042001010804200108030500020E0E0E0407020E020801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301B42300000000000000000000CE230000002000000000000000000000000000000000000000000000C0230000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000640200000000000000000000640234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004C4010000010053007400720069006E006700460069006C00650049006E0066006F000000A001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000048001300010049006E007400650072006E0061006C004E0061006D0065000000500072006F0074006F0063006F006C00480065006C007000650072002E0064006C006C00000000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000005000130001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000500072006F0074006F0063006F006C00480065006C007000650072002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000E03300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  SqlAssembly [UrlHelper]    Script Date: 9/2/2026 10:50:00 PM ******/
CREATE ASSEMBLY [UrlHelper]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103004A3B12650000000000000000E00002210B010B00000800000006000000000000FE260000002000000040000000000010002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000AC2600004F00000000400000A802000000000000000000000000000000000000006000000C000000742500001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000004070000002000000008000000020000000000000000000000000000200000602E72737263000000A80200000040000000040000000A0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000E00000000000000000000000000004000004200000000000000000000000000000000E0260000000000004800000002000500242100005004000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006200720100007002280400000A2803000006280500000A002A000000133002003F00000001000011000272050000706F0600000A0A06152E09061BFE0216FE012B0116000C082D0F00720D00007002280700000A10000002730800000A280900000A0B2B00072A00133004005F00000002000011000228020000060A06178D0900000113061106161F2E9D11066F0A00000A0B730B00000A0C170D078E6913042B1900081F2E6F0C00000A260807099A6F0D00000A26000917580D091104FE04130711072DDC086F0E00000A13052B0011052A0042534A4201000100000000000C00000076342E302E33303331390000000005006C00000088010000237E0000F40100009001000023537472696E677300000000840300002000000023555300A4030000100000002347554944000000B40300009C00000023426C6F620000000000000002000001471502000900000000FA253300160000010000000A0000000200000003000000030000000E0000000300000002000000010000000200000000000A00010000000000060032002B000600980085000B00AC0000000600E100C10006000101C10006001F012B0006002B012B000A004C012B00060059012B0006007001640100000000010000000000010001008101100018000000050001000100502000000000960039000A0001006C200000000096003E0010000200B820000000009600500010000300000001007800000001007D000000010081001100BB0015002100BB001B002900BB002000310026012400390033012B0031003D0130003100450135004100BB003B0041005001400031005E014A005100BB00200051007E01510051007E0157000900850140002E000B006B002E00130074002E001B007D0044005D0004800000000000000000000000000000000018000000040000000000000000000000010022000000000004000000000000000000000001002B00000000000000003C4D6F64756C653E0055726C48656C7065722E646C6C0055726C48656C706572006D73636F726C69620053797374656D004F626A656374004D61696E0045787472616374446F6D61696E4E616D6500496E7465726E6574436F756E747279436F6465546F704C6576656C446F6D61696E5F6363544C4400617267760055726C0075726C0053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F646573002E63746F720053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500537472696E67004A6F696E00436F6E736F6C650057726974654C696E6500496E6465784F6600436F6E63617400557269006765745F486F737400436861720053706C69740053797374656D2E5465787400537472696E674275696C64657200417070656E6400546F537472696E6700000000032E0000073A002F002F00000F68007400740070003A002F002F00000000007D5A3BABA40CD4449C09F607038D3F430008B77A5C561934E089050001011D0E0400010E0E05200101110D0420010108032000010600020E0E1D0E040001010E042001080E0500020E0E0E042001010E0320000E050703080E020620011D0E1D0305200112290305200112290E0D07080E1D0E122908080E1D03020801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301000000004A3B126500000000020000001C010000902500009007000052534453B72F712F2A93AF45861BAC203FA851B804000000653A5C576F72644F66476F645C62696E5C55726C48656C7065722E7064620000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D42600000000000000000000EE260000002000000000000000000000000000000000000000000000E0260000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003C000E00010049006E007400650072006E0061006C004E0061006D0065000000550072006C00480065006C007000650072002E0064006C006C0000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000044000E0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000550072006C00480065006C007000650072002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000003700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedFunction [dbo].[InternetCountryCodeTopLevelDomain_ccTLD]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[InternetCountryCodeTopLevelDomain_ccTLD](@url [nvarchar](max))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [UrlHelper].[UrlHelper].[InternetCountryCodeTopLevelDomain_ccTLD]
GO
/****** Object:  Table [dbo].[URISport]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URISport](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime] NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIAdvanceAustralia]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIAdvanceAustralia](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIChrist]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIChrist](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIMozillaPocket]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIMozillaPocket](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIWordEngineering]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIWordEngineering](
	[URI] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_URIWordEngineering] PRIMARY KEY CLUSTERED 
(
	[URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIGoogleNews]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIGoogleNews](
	[URI] [varchar](255) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [nvarchar](max) NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIBingNews]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIBingNews](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URIEntertainment]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIEntertainment](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Keyword] [nvarchar](max) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[MyURI]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
SELECT URI, Title, Keyword, Commentary, Dated, SequenceOrderID
INTO URI..Template
FROM URI..URIGoogleNews
*/

CREATE   VIEW [dbo].[MyURI]
AS
SELECT * FROM dbo.URIAdvanceAustralia
UNION
SELECT * FROM dbo.URIBingNews
UNION
SELECT * FROM dbo.URIChrist
UNION
SELECT * FROM dbo.URIEntertainment
UNION
SELECT * FROM dbo.URIGoogleNews
UNION
SELECT * FROM dbo.URIMozillaPocket
UNION
SELECT * FROM dbo.URISport
UNION
SELECT * FROM dbo.URIWordEngineering
GO
/****** Object:  Table [dbo].[URIBenediction]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URIBenediction](
	[URI] [varchar](900) NOT NULL,
	[Title] [nvarchar](4000) NULL,
	[Keyword] [nvarchar](4000) NULL,
	[Commentary] [nvarchar](max) NULL,
	[URIReferrer] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[ContactID] [int] NULL,
	[ScriptureReference] [nvarchar](max) NULL,
	[Dated] [datetime2](7) NOT NULL,
	[SequenceOrderID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[URIAdvanceAustralia] ADD  CONSTRAINT [DF_URIAdvanceAustralia_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIBenediction] ADD  CONSTRAINT [DF_URIBenediction_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIBingNews] ADD  CONSTRAINT [DF_URIBingNews_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIChrist] ADD  CONSTRAINT [DF_URIChrist_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIEntertainment] ADD  CONSTRAINT [DF_URIEntertainment_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIGoogleNews] ADD  CONSTRAINT [DF_URIGoogleNews_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIMozillaPocket] ADD  CONSTRAINT [DF_URIMozillaPocket_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URISport] ADD  CONSTRAINT [DF_URISport_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[URIWordEngineering] ADD  CONSTRAINT [DF_URIWordEngineering_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
/****** Object:  StoredProcedure [dbo].[PopulateJehovah]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateJehovah]
 @jehovah        varchar(8000)      = null,
 @URI            varchar(255)      = null,
 @jehovahId      uniqueidentifier  = null,
 @dated          datetime          = null
AS
BEGIN

 SET NOCOUNT ON
 SET @jehovah = LTRIM(RTRIM(@jehovah))
 SET @uri     = LTRIM(RTRIM(@uri))

 IF NOT Exists (SELECT Jehovah FROM Jehovah WHERE Jehovah = @jehovah)
 BEGIN --Begin Insert
  INSERT Jehovah (Jehovah, URI) VALUES (@jehovah, @URI)
 END --End Insert

END  --End Procedure

GO
/****** Object:  StoredProcedure [dbo].[Populatestatus]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[Populatestatus]
 @URI            varchar(255)      = 'about:blank'   OUTPUT,
 @Dated          datetime          = null            OUTPUT,
 @status      int               = 404             OUTPUT,
 @Guid           uniqueidentifier  = null            OUTPUT
AS
BEGIN

 SET NOCOUNT ON
 SET @URI  = LTRIM(RTRIM(@uri))
 IF @Dated IS NULL SET @Dated = GETDATE()
 IF @Guid IS NULL SET @Guid = NEWID()
 IF NOT Exists (SELECT URI FROM status WHERE URI = @URI and Dated = @Dated)
  INSERT status ( URI, Dated, status, Guid ) VALUES (  @URI, @Dated, @status, @Guid  )
 ELSE
  UPDATE status SET status = @status WHERE URI = @URI and Dated = @Dated
END  --End Procedure

GO
/****** Object:  StoredProcedure [dbo].[PopulateURIChrist]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateURIChrist]
 @dated           datetime      = null,
 @keyword         varchar(255)  = null,
 @title           varchar(255)  = null,
 @URI             varchar(255)  = null
AS
BEGIN

 SET NOCOUNT ON
 SET @keyword = LTRIM(RTRIM(@keyword))
 SET @title = LTRIM(RTRIM(@title))
 SET @uri = LTRIM(RTRIM(@uri))

 IF @title = NULL or @title = ''
 BEGIN
  DELETE FROM URIChrist WHERE URI = @uri
  RETURN
 END

 IF exists (SELECT URI FROM URIChrist WHERE URI = @URI)
 BEGIN
  UPDATE URIChrist SET title = @title, keyword = @keyword WHERE URI = @uri
 END --End Update
 ELSE
 BEGIN --Begin Insert
  INSERT URIChrist (dated, title, URI, keyword) VALUES (@dated, @title, @URI, @keyword )
 END --End Insert
END  --End Procedure

GO
/****** Object:  StoredProcedure [dbo].[PopulateURIChristRelease200304070905]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateURIChristRelease200304070905]
 @keyword         varchar(255)  = null,
 @title           varchar(255)  = null,
 @URI             varchar(255)  = null
AS
BEGIN

 SET NOCOUNT ON
 SET @keyword = LTRIM(RTRIM(@keyword))
 SET @title = LTRIM(RTRIM(@title))
 SET @uri = LTRIM(RTRIM(@uri))

 IF @title = NULL or @title = ''
 BEGIN
  DELETE FROM URIChrist WHERE URI = @uri
  RETURN
 END

 IF exists (SELECT URI FROM URIChrist WHERE URI = @URI)
 BEGIN
  UPDATE URIChrist SET title = @title, keyword = @keyword WHERE URI = @uri
 END --End Update
 ELSE
 BEGIN --Begin Insert
  INSERT URIChrist (title, URI, keyword) VALUES (@title, @URI, @keyword )
 END --End Insert
END  --End Procedure
GO
/****** Object:  StoredProcedure [dbo].[PopulateURIStatus]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateURIStatus]
 @URI            varchar(255)      = 'about:blank'   OUTPUT,
 @Dated          datetime          = null            OUTPUT,
 @Status         int               = 404             OUTPUT,
 @Guid           uniqueidentifier  = null            OUTPUT
AS
BEGIN

 SET NOCOUNT ON
 SET @URI  = LTRIM(RTRIM(@uri))
 IF @Dated IS NULL SET @Dated = GETDATE()
 IF @Guid IS NULL SET @Guid = NEWID()
 IF NOT Exists (SELECT URI FROM URIStatus WHERE URI = @URI and Dated = @Dated)
  INSERT URIStatus ( URI, Dated, Status, Guid ) VALUES (  @URI, @Dated, @Status, @Guid  )
 ELSE
  UPDATE URIStatus SET Status = @Status WHERE URI = @URI and Dated = @Dated
END  --End Procedure

GO
/****** Object:  StoredProcedure [dbo].[PopulateURIWordEngineering]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateURIWordEngineering]
 @dated           datetime      = null,
 @keyword         varchar(255)  = null,
 @title           varchar(255)  = null,
 @URI             varchar(255)  = null
AS
BEGIN

 SET NOCOUNT ON
 SET @keyword = LTRIM(RTRIM(@keyword))
 SET @title = LTRIM(RTRIM(@title))
 SET @uri = LTRIM(RTRIM(@uri))

 IF @title = NULL or @title = ''
 BEGIN
  DELETE FROM URIWordEngineering WHERE URI = @uri
  RETURN
 END

 IF exists (SELECT URI FROM URIWordEngineering WHERE URI = @URI)
 BEGIN
  UPDATE URIWordEngineering SET title = @title, keyword = @keyword WHERE URI = @uri
 END --End Update
 ELSE
 BEGIN --Begin Insert
  INSERT URIWordEngineering (dated, title, URI, keyword) VALUES (@dated, @title, @URI, @keyword )
 END --End Insert

END  --End Procedure

GO
/****** Object:  StoredProcedure [dbo].[PopulateURIWordEngineeringRelease200304070905]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PopulateURIWordEngineeringRelease200304070905]
 @keyword         varchar(255)  = null,
 @title           varchar(255)  = null,
 @URI             varchar(255)  = null
AS
BEGIN

 SET NOCOUNT ON
 SET @keyword = LTRIM(RTRIM(@keyword))
 SET @title = LTRIM(RTRIM(@title))
 SET @uri = LTRIM(RTRIM(@uri))

 IF @title = NULL or @title = ''
 BEGIN
  DELETE FROM URIWordEngineering WHERE URI = @uri
  RETURN
 END

 IF exists (SELECT URI FROM URIWordEngineering WHERE URI = @URI)
 BEGIN
  UPDATE URIWordEngineering SET title = @title, keyword = @keyword WHERE URI = @uri
 END --End Update
 ELSE
 BEGIN --Begin Insert
  INSERT URIWordEngineering (title, URI, keyword) VALUES (@title, @URI, @keyword )
 END --End Insert
END  --End Procedure
GO
/****** Object:  StoredProcedure [dbo].[usp_IoannisPanagopoulosRestServicesSelect]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_IoannisPanagopoulosRestServicesSelect]
	@uri				AS	sysname				=	'msdn.com'
AS
BEGIN
/*
	2015-01-04	blogs.msdn.com/b/raulga/archive/2007/01/04/dynamic-sql-sql-injection.aspx
	2015-05-16	File created.
*/ 
	DECLARE @sqlSelectStatement AS NVARCHAR(4000)
	declare @CRLF nvarchar(10) = char(13) + char(10)

	IF @URI IS NOT NULL
	BEGIN
		SET @URI = '%' + @URI + '%'
	END

	SET @sqlSelectStatement = 'SELECT MIN(Dated) AS DatedFrom, MAX(Dated) AS DatedUntil '
	+ ' FROM MyUri WHERE  1 = 1 '

	+	' and ( (URI like '
	+	' case '
	+   ' when @URI is null then URI  '
	+	' else @URI '
	+	' end  ' 
	+	' ) '
	+   ' ) ';

	--EXEC xp_logevent 60000, @sqlSelectStatement, informational

	--SET @sqlSelectStatement = @sqlSelectStatement + @clauseOrderBy

	declare @parmDefinition nvarchar(4000)

	set @parmDefinition = '@uri nvarchar(max)'

	PRINT @sqlSelectStatement

	EXEC sp_executesql 
			  @sqlSelectStatement
			, @parmDefinition
			, @uri = @uri
END
GO
/****** Object:  StoredProcedure [dbo].[usp_URIDelete]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_URIDelete]
 @tableName       AS VARCHAR(50),
 @sequenceOrderId AS VARCHAR(255)   =  NULL
AS
BEGIN
 DECLARE @quote              AS NVARCHAR(1)
 DECLARE @sqlDeleteStatement AS NVARCHAR(1000)
 SET @quote              = ''''
 SET @sqlDeleteStatement = 'DELETE ' + @tableName + ' WHERE '
 --EXEC xp_logevent 60000, @sqlDeleteStatement, informational
 IF @sequenceOrderId IS NOT NULL
 BEGIN
  SET @sqlDeleteStatement = @sqlDeleteStatement + ' sequenceOrderId = ' + CONVERT( VARCHAR, @sequenceOrderId )
 END
 ELSE
 BEGIN
  RETURN
 END
 EXEC sp_executesql @sqlDeleteStatement
END

GO
/****** Object:  StoredProcedure [dbo].[usp_URIInsert]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_URIInsert]
	@tableName									    AS	VARCHAR(255),
	@uri											AS	NVARCHAR(MAX),
	@title											AS	NVARCHAR(MAX)		=	NULL,
	@keyword										AS	NVARCHAR(MAX)		=	NULL,
	@commentary										AS	NVARCHAR(MAX)		=	NULL,
	@uriReferrer									AS	NVARCHAR(MAX)		=	NULL,
	@referrer										AS	NVARCHAR(MAX)		=	NULL,
	@contactID										AS	INT					=	NULL,
	@scriptureReference								AS	NVARCHAR(MAX)		=	NULL,
	@dated											AS	DATETIME2			=	NULL,
	@sequenceOrderID								AS	INT					=	NULL,
	@eventDate										AS	DATETIME2			=	NULL
AS
BEGIN
	/*
		http://support.microsoft.com/default.aspx?scid=KB;EN-US;q262499 INF: Using Output Parameters with sp_executesql
		2021-05-21T12:00:00 SET @uri = REPLACE(@uri, @quote, @quote + @quote)
	*/
	DECLARE @bracketOpen        AS VARCHAR(1)
	DECLARE @bracketClose       AS VARCHAR(1)
	DECLARE @clauseAnd          AS VARCHAR(7)
	DECLARE @clauseSet          AS VARCHAR(7)
	DECLARE @clauseValues       AS VARCHAR(8)
	DECLARE @clauseWhere        AS VARCHAR(7)
	DECLARE @quote              AS VARCHAR(1)
	DECLARE @ParmDefinition     AS NVARCHAR(500)
	DECLARE @separatorComma     AS VARCHAR(1)
	DECLARE @sqlInsertValues    AS VARCHAR(8000)
	DECLARE @sqlInsertStatement AS NVARCHAR(4000)
	DECLARE @sqlSelectStatement AS NVARCHAR(4000)

	SET		@uri					=	LTRIM( RTRIM( @uri ) )
	SET		@title					=	LTRIM( RTRIM( @title ) )
	SET		@keyword				=	LTRIM( RTRIM( @keyword ) )
	SET		@commentary				=	LTRIM( RTRIM( @commentary ) )
	SET		@uriReferrer			=	LTRIM( RTRIM( @uriReferrer ) )
	SET		@referrer				=	LTRIM( RTRIM( @referrer ) )
	SET		@scriptureReference		=	LTRIM( RTRIM( @scriptureReference ) )

	SET @bracketOpen				=	'('
	SET @bracketClose				=	')'
	SET @clauseAnd					=	SPACE(2) + 'AND' + SPACE(2)
	SET @clauseSet					=	SPACE(2) + 'SET' + SPACE(2)
	SET @clauseValues				=	SPACE(1) + 'VALUES' + SPACE(1)
	SET @clauseWhere				=	SPACE(1) + 'WHERE' + SPACE(1)
	SET @quote						=	''''
	SET @ParmDefinition				=	'@sequenceOrderId INTEGER OUTPUT'
	SET @separatorComma				=	','

	 IF @uri IS NULL
	 BEGIN
		RETURN
	 END

	SET @uri						=	REPLACE(@uri, @quote, @quote + @quote)
	SET @title						=	REPLACE(@title, @quote, @quote + @quote)
	SET @commentary					=	REPLACE(@commentary, @quote, @quote + @quote)
	SET @keyword					=	REPLACE(@keyword, @quote, @quote + @quote)
	SET	@uriReferrer				=	REPLACE(@uriReferrer, @quote, @quote + @quote)
	SET	@referrer					=	REPLACE(@referrer, @quote, @quote + @quote)
	SET	@scriptureReference			=	REPLACE(@scriptureReference, @quote, @quote + @quote)

	SET @sqlSelectStatement = 'SELECT @sequenceOrderId = sequenceOrderId FROM ' + @tableName + ' WHERE uri = ''' + @uri + @quote
 
	EXEC sp_executesql @sqlSelectStatement, @ParmDefinition, @sequenceOrderId OUTPUT
	IF @@ROWCOUNT > 0
	BEGIN
		EXEC usp_URIUpdate @tableName, @uri, @title, @keyword, @commentary, @uriReferrer, @referrer, @contactID, @scriptureReference, @dated, @sequenceOrderID
		RETURN
	END

	SET @sqlInsertStatement = 'INSERT ' + @tableName + @bracketOpen
	SET @sqlInsertValues    = @clauseValues + @bracketOpen
  
	IF @sequenceOrderId IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' sequenceOrderId ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + CONVERT( NVARCHAR, @sequenceOrderId ) + @quote + @separatorComma
	END
 
	IF @dated IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' dated ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + CONVERT( NVARCHAR, @dated ) + @quote + @separatorComma
	END

	IF @eventDate IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' eventDate ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + CONVERT( NVARCHAR, @eventDate ) + @quote + @separatorComma
	END
 
	IF @uri IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' uri ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @uri + @quote + @separatorComma
	END

	IF @title IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' title ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @title + @quote + @separatorComma
	END

	IF @commentary IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' commentary ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @commentary + @quote + @separatorComma
	END

	IF @keyword IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' keyword ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @keyword + @quote + @separatorComma
	END

	IF @uriReferrer IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' uriReferrer ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @uriReferrer + @quote + @separatorComma
	END

	IF @referrer IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' referrer ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @referrer + @quote + @separatorComma
	END

	IF @contactID IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' contactID ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + CONVERT( NVARCHAR, @contactID ) + @quote + @separatorComma
	END

	IF @scriptureReference IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = @sqlInsertStatement + ' scriptureReference ' + @separatorComma
		SET @sqlInsertValues    = @sqlInsertValues + @quote + @scriptureReference + @quote + @separatorComma
	END
 
	SET @sqlInsertStatement = LEFT( @sqlInsertStatement, LEN( @sqlInsertStatement ) - LEN( @separatorComma ) )
	SET @sqlInsertValues = LEFT( @sqlInsertValues, LEN( @sqlInsertValues ) - LEN( @separatorComma ) )
	SET @sqlInsertStatement  = @sqlInsertStatement + @bracketClose + @sqlInsertValues + @bracketClose
 
	IF @sequenceOrderId IS NOT NULL
	BEGIN
		SET @sqlInsertStatement = 'SET IDENTITY_INSERT ' + @tableName + ' ON;' + @sqlInsertStatement + 'SET IDENTITY_INSERT ' + @tableName + ' OFF;'
	END
 
	--EXEC xp_logevent 60000, @sqlInsertStatement, informational
	EXEC sp_executesql @sqlInsertStatement
END

GO
/****** Object:  StoredProcedure [dbo].[usp_URISelect]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[usp_URISelect]
	@tableName								    AS VARCHAR(255)		=  'URIWordEngineering',
	@uri										AS NVARCHAR(MAX)	=  NULL,
	@title										AS NVARCHAR(MAX)	=  NULL,
	@commentary									AS NVARCHAR(MAX)	=  NULL,
	@keyword									AS NVARCHAR(MAX)	=  NULL,
	@internetCountryCodeTopLevelDomain_ccTLD	AS NVARCHAR(MAX)	=  NULL,
	@uriReferrer								AS NVARCHAR(MAX)	=  NULL,
	@referrer									AS NVARCHAR(MAX)	=  NULL,
	@scriptureReference							AS NVARCHAR(MAX)	=  NULL,
	@contactIDFrom								AS BIGINT			=  NULL,
	@contactIDUntil								AS BIGINT			=  NULL,
	@datedFrom									AS DATETIME			=  NULL,
	@datedUntil									AS DATETIME			=  NULL,
	@sequenceOrderIDFrom						AS BIGINT			=  NULL,
	@sequenceOrderIDUntil						AS BIGINT			=  NULL,
	@eventDateFrom								AS DATETIME			=  NULL,
	@eventDateUntil								AS DATETIME			=  NULL,
	@clauseOrderBy								AS NVARCHAR(MAX)	=  ' ORDER BY SequenceOrderID DESC '
AS
BEGIN
	 --EXEC usp_URISelect @sequenceOrderIdFrom = 2141
	 /*
		EXEC usp_URISelect @internetCountryCodeTopLevelDomain_ccTLD = 'IR' --2023-09-25T18:00:00 ... 2023-09-25T18:23:00
	 */
	 DECLARE @clauseAnd          AS NVARCHAR(7)
	 DECLARE @clauseWhere        AS NVARCHAR(7)
	 DECLARE @quote              AS NVARCHAR(1)
	 DECLARE @sqlSelectStatement AS NVARCHAR(4000)
	 SET @clauseAnd          = SPACE(2) + 'AND' + SPACE(2)
	 SET @clauseWhere        = SPACE(1) + 'WHERE' + SPACE(1)
	 SET @quote              = ''''
	 SET @sqlSelectStatement = 'SELECT * FROM ' + @tableName + @clauseWhere
	 --EXEC xp_logevent 60000, @sqlSelectStatement, informational
	 IF @uri IS NOT NULL AND @uri <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' uri LIKE ''%' + @uri + '%''' + @clauseAnd
	 END
	 IF @title IS NOT NULL AND @title <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' title LIKE ''%' + @title + '%''' + @clauseAnd
	 END
 	 IF @keyword IS NOT NULL AND @keyword <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' keyword LIKE ''%' + @keyword + '%''' + @clauseAnd
	 END
 	 IF @commentary IS NOT NULL AND @commentary <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' commentary LIKE ''%' + @commentary + '%''' + @clauseAnd
	 END
	 IF @internetCountryCodeTopLevelDomain_ccTLD IS NOT NULL AND @internetCountryCodeTopLevelDomain_ccTLD <> '|'
	 BEGIN
	  SET @sqlSelectStatement = @sqlSelectStatement + ' dbo.internetCountryCodeTopLevelDomain_ccTLD(uri) = ''' + @internetCountryCodeTopLevelDomain_ccTLD + '''' + @clauseAnd
	 END
 	 IF @uriReferrer IS NOT NULL AND @uriReferrer <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' uriReferrer LIKE ''%' + @uriReferrer + '%''' + @clauseAnd
	 END
 	 IF @referrer IS NOT NULL AND @referrer <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' referrer LIKE ''%' + @referrer + '%''' + @clauseAnd
	 END
	 IF @contactIDFrom IS NOT NULL AND @contactIDFrom > -1
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' contactID >= ' + CONVERT( NVARCHAR, @contactIDFrom ) + @clauseAnd
	 END
	 IF @contactIDUntil IS NOT NULL AND @contactIDUntil < 2147483647
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' contactID <= ' + CONVERT( NVARCHAR, @contactIDUntil ) + @clauseAnd
	 END
 	 IF @scriptureReference IS NOT NULL AND @scriptureReference <> '|'
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' scriptureReference LIKE ''%' + @scriptureReference + '%''' + @clauseAnd
	 END
	 IF @datedFrom IS NOT NULL AND @datedFrom > "1/1/1753"
	 BEGIN
	  SET @sqlSelectStatement = @sqlSelectStatement + ' dated >= ' + @quote + CONVERT( NVARCHAR, @datedFrom ) + @quote + @clauseAnd
	 END
	 IF @datedUntil IS NOT NULL AND @datedUntil < "9999-12-31"
	 BEGIN
	  SET @sqlSelectStatement = @sqlSelectStatement + ' dated <= ' + @quote + CONVERT( NVARCHAR, @datedUntil ) + @quote + @clauseAnd
	 END
	 IF @sequenceOrderIdFrom IS NOT NULL AND @sequenceOrderIdFrom > -1
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' sequenceOrderId >= ' + CONVERT( NVARCHAR, @sequenceOrderIdFrom ) + @clauseAnd
	 END
	 IF @sequenceOrderIdUntil IS NOT NULL AND @sequenceOrderIdUntil < 2147483647
	 BEGIN
		SET @sqlSelectStatement = @sqlSelectStatement + ' sequenceOrderId <= ' + CONVERT( NVARCHAR, @sequenceOrderIdUntil ) + @clauseAnd
	 END
	 IF @eventDateFrom IS NOT NULL AND @eventDateFrom > "1/1/1753"
	 BEGIN
	  SET @sqlSelectStatement = @sqlSelectStatement + ' eventDate >= ' + @quote + CONVERT( NVARCHAR, @eventDateFrom ) + @quote + @clauseAnd
	 END
	 IF @eventDateUntil IS NOT NULL AND @eventDateUntil < "9999-12-31"
	 BEGIN
	  SET @sqlSelectStatement = @sqlSelectStatement + ' eventDate <= ' + @quote + CONVERT( NVARCHAR, @eventDateUntil ) + @quote + @clauseAnd
	 END
	 IF RIGHT( @sqlSelectStatement, 7 ) = @clauseAnd
	 BEGIN
	  SET @sqlSelectStatement = LEFT( @sqlSelectStatement, LEN( @sqlSelectStatement ) - LEN( @clauseAnd ) )
	 END
	 ELSE
	 BEGIN
	   SET @sqlSelectStatement = LEFT( @sqlSelectStatement, LEN( @sqlSelectStatement ) - LEN( @clauseWhere ) )
	 END
	 --SET @sqlSelectStatement = @sqlSelectStatement + @clauseOrderBy
	 EXEC xp_logevent 60000, @sqlSelectStatement, informational
	 EXEC sp_executesql @sqlSelectStatement
	 --PRINT @sqlSelectStatement
END
GO
/****** Object:  StoredProcedure [dbo].[usp_URIUpdate]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_URIUpdate]
	@tableName									    AS	VARCHAR(255),
	@uri											AS	NVARCHAR(MAX)		=	NULL,
	@title											AS	NVARCHAR(MAX)		=	NULL,
	@keyword										AS	NVARCHAR(MAX)		=	NULL,
	@commentary										AS	NVARCHAR(MAX)		=	NULL,
	@uriReferrer									AS	NVARCHAR(MAX)		=	NULL,
	@referrer										AS	NVARCHAR(MAX)		=	NULL,
	@contactID										AS	BIGINT				=	NULL,
	@scriptureReference								AS	NVARCHAR(MAX)		=	NULL,
	@dated											AS	DATETIME2			=	NULL,
	@sequenceOrderID								AS	BIGINT,
	@eventDate										AS	DATETIME2			=	NULL
AS
BEGIN
	--EXEC usp_URIUpdate @tableName = 'URIWordEngineering', @sequenceOrderID = 71287, @dated = '2024-11-08', @uri = '111'
	--UPDATE URIWordEngineering  SET   dated = '2024-11-08 00:00:00.0000000'   ,    uri = '111'   ,    title = null   ,    keyword = null   ,    commentary = null   ,    uriReferrer = null   ,    referrer = null   ,    contactID = null    ,    scriptureReference = null WHERE  SequenceOrderId = 71287
	DECLARE		@clauseAnd				AS	NVARCHAR(7)
	DECLARE		@clauseSet				AS	NVARCHAR(7)
	DECLARE		@clauseWhere			AS	NVARCHAR(7)
	DECLARE		@quote					AS	NVARCHAR(1)
	DECLARE		@separatorComma			AS	NVARCHAR(7)
	DECLARE		@sqlUpdateStatement		AS	NVARCHAR(MAX)

	SET			@uri					=		LTRIM( RTRIM( @uri ) )
	SET			@title					=		LTRIM( RTRIM( @title ) )
	SET			@keyword				=		LTRIM( RTRIM( @keyword ) )
	SET			@commentary				=		LTRIM( RTRIM( @commentary ) )
	SET			@uriReferrer			=		LTRIM( RTRIM( @uriReferrer ) )
	SET			@referrer				=		LTRIM( RTRIM( @referrer ) )
	SET			@scriptureReference		=		LTRIM( RTRIM( @scriptureReference ) )

	SET @clauseAnd				=		SPACE(2) + 'AND' + SPACE(2)
	SET @clauseSet				=		SPACE(2) + 'SET' + SPACE(2)
	SET @clauseWhere			=		SPACE(1) + 'WHERE' + SPACE(1)
	SET @quote					=		''''
	SET @separatorComma			=		SPACE(3) + ',' + SPACE(3)

	SET @uri					=		REPLACE(@uri, @quote, @quote + @quote)
	SET @title					=		REPLACE(@title, @quote, @quote + @quote)
	SET @commentary				=		REPLACE(@commentary, @quote, @quote + @quote)
	SET @keyword				=		REPLACE(@keyword, @quote, @quote + @quote)
	SET @uriReferrer			=		REPLACE(@uriReferrer, @quote, @quote + @quote)
	SET @referrer				=		REPLACE(@referrer, @quote, @quote + @quote)
	SET @scriptureReference		=		REPLACE(@scriptureReference, @quote, @quote + @quote)

	SET @sqlUpdateStatement		=		'UPDATE ' + @tableName + @clauseSet

	IF @dated IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' dated = ''' + CONVERT( NVARCHAR, @dated ) + @quote + @separatorComma
	END
 
 	IF @eventDate IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' eventDate = ''' + CONVERT( NVARCHAR, @eventDate ) + @quote + @separatorComma
	END

	IF @uri IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' uri = ''' + @uri + @quote + @separatorComma
	END

	IF @title IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' title = ''' + @title + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' title = null' + @separatorComma
	END
 
 	IF @keyword IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' keyword = ''' + @keyword + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' keyword = null' + @separatorComma
	END

	IF @commentary IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' commentary = ''' + @commentary + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' commentary = null' + @separatorComma
	END
 
	IF @uriReferrer IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' uriReferrer = ''' + @uriReferrer + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' uriReferrer = null' + @separatorComma
	END

	IF @referrer IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' referrer = ''' + @referrer + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' referrer = null' + @separatorComma
	END

	IF @contactID > -1
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' contactID = ' + CONVERT( VARCHAR, @contactID ) + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' contactID = null ' + @separatorComma
	END

	IF @scriptureReference IS NOT NULL
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' scriptureReference = ''' + @scriptureReference + @quote + @separatorComma
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = @sqlUpdateStatement + ' scriptureReference = null' + @separatorComma
	END

	IF RIGHT( @sqlUpdateStatement, 7 ) = @clauseSet
	BEGIN
		SET @sqlUpdateStatement = LEFT( @sqlUpdateStatement, LEN( @sqlUpdateStatement ) - LEN( @clauseSet ) )
	END
	ELSE
	BEGIN
		SET @sqlUpdateStatement = LEFT( @sqlUpdateStatement, LEN( @sqlUpdateStatement ) - LEN( @separatorComma ) )
	END

	SET @sqlUpdateStatement  = @sqlUpdateStatement + @clauseWhere + ' SequenceOrderId = ' + CONVERT( NVARCHAR, @sequenceOrderId )

	--PRINT	@sqlUpdateStatement

	--EXEC xp_logevent 60000, @sqlUpdateStatement, informational
	
	EXEC sp_executesql @sqlUpdateStatement

END

GO
/****** Object:  StoredProcedure [dbo].[uspBehaviorQuery]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[uspBehaviorQuery]
 @datedFrom           AS varchar(50)    =  null,
 @datedTo             AS varchar(50)    =  null,
 @keyword             AS varChar(50)    =  null,
 @sequenceOrderFrom   AS integer        =  null,
 @sequenceOrderTo     AS integer        =  null,
 @scriptureReference  AS varchar(8000)  =  null,
 @actor               AS varchar(8000)  =  null,
 @commentary          AS varchar(8000)  =  null
AS
BEGIN

 --uspBehaviorQuery @keyword = 'God Title'
 --uspBehaviorQuery @datedFrom = '20020925', @datedTo = '20020927'
 --uspBehaviorQuery @scriptureReference = 'Genesis 22'
 --uspBehaviorQuery @actor = 'God'
 --uspBehaviorQuery @commentary = 'Jesus Christ'

 DECLARE  @sql        AS nvarchar(4000)
 DECLARE  @and        AS varchar(5)
 DECLARE  @from       AS varchar(4000)
 DECLARE  @select     AS varchar(4000)
 DECLARE  @where      AS varchar(8000)
 DECLARE  @orderBy    AS varchar(8000)

 SET      @select     =  'SELECT  ' +
--                       ' Dated, '
                         ' Keyword, SequenceOrder, ScriptureReference, Actor, Commentary '
 SET      @and        =  ' AND '
 SET      @from       =  ' FROM Behavior '
 SET      @where      =  ' WHERE ' + SPACE(5)
 SET      @orderBy    =  ' ORDER BY Keyword, SequenceOrder '

 IF @datedFrom <> null
 BEGIN
  SET @where = @where + ' Dated >= ''' + @datedFrom + '''' + @and
 END

 IF @datedTo <> null
 BEGIN
  SET @where = @where + ' Dated <= ''' + @datedTo + '''' + @and
 END

 IF @keyword <> null
 BEGIN
  SET @where = @where + ' keyword Like ''%' + @keyword + '%''' + @and
 END

 IF @sequenceOrderFrom <> null
 BEGIN
  SET @where = @where + ' sequenceOrder >= ' + @sequenceOrderFrom + @and
 END

 IF @sequenceOrderTo <> null
 BEGIN
  SET @where = @where + ' sequenceOrder <= ' + @sequenceOrderTo + @and
 END

 IF @scriptureReference <> null
 BEGIN
  SET @where = @where + ' scriptureReference Like ''%' + @scriptureReference + '%''' + @and
 END

 IF @actor <> null
 BEGIN
  SET @where = @where + ' actor Like ''%' + @actor + '%''' + @and
 END

 IF @commentary <> null
 BEGIN
  SET @where = @where + ' commentary Like ''%' + @commentary + '%''' + @and
 END

 SET @where = LEFT( @where, LEN(@where) - LEN(@and) )

 SET @sql = @select + @from + @where + @orderBy

 EXECUTE sp_executesql @sql

 PRINT @sql

END

GO
/****** Object:  StoredProcedure [dbo].[uspScriptureRetrievalVerse]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[uspScriptureRetrievalVerse]
  @scriptureReference varChar(4000)
AS
BEGIN  -- Stored Procedure Begin
  /*
  Exec uspScriptureRetrievalVerse @scriptureReference = 'Genesis 1:1-2:13'
  */
  DECLARE  @scriptureReferenceDelimiter                             AS  char
  DECLARE  @scriptureReferenceSubset                                AS  varChar(4000)
  DECLARE  @scriptureReferenceLength                                AS  integer
  DECLARE  @scriptureReferenceDelimiterLocationEnd                  AS  integer
  DECLARE  @scriptureReferenceDelimiterLocationStart                AS  integer

  DECLARE  @scriptureReferenceChapterVerseSeparator                 AS  char
  DECLARE  @scriptureReferenceVerseSeparator                        AS  char

  DECLARE  @scriptureReferenceSubsetLength                          AS  integer
  DECLARE  @scriptureReferenceSubsetPosition                        AS  integer
  DECLARE  @scriptureReferenceSubsetDelimiterPosition               AS  integer

  DECLARE  @soundexDifference                                       AS  integer
  DECLARE  @soundexBookId                                           AS  integer
  DECLARE  @soundexBookTitle                                        AS  varChar(20)

  DECLARE  @scriptureReferenceSubsetBook                            AS  varChar(20)
  DECLARE  @scriptureReferenceSubsetCurrentCharacter                AS  char
  DECLARE  @scriptureReferenceSubsetChapter                         AS  integer
  DECLARE  @scriptureReferenceSubsetChapterFrom                     AS  integer
  DECLARE  @scriptureReferenceSubsetChapterTo                       AS  integer
  DECLARE  @scriptureReferenceSubsetVerseFrom                       AS  integer
  DECLARE  @scriptureReferenceSubsetVerseTo                         AS  integer

  SET @scriptureReference                       = UPPER( @scriptureReference )
  SET @scriptureReferenceLength                 = LEN( @scriptureReference )
  SET @scriptureReferenceDelimiter              = ','
  SET @scriptureReferenceChapterVerseSeparator  = ':'
  SET @scriptureReferenceVerseSeparator         = '-'

  SET @scriptureReferenceDelimiterLocationEnd   = 1
  SET @scriptureReferenceDelimiterLocationStart = 1

  -- While not the last scripture reference.
  WHILE @scriptureReferenceDelimiterLocationEnd > 0
  BEGIN

    -- Determine the end position for this particular
    -- scripture reference subset.
    SET @scriptureReferenceDelimiterLocationEnd = CHARINDEX
      (
        @scriptureReference,
        @scriptureReferenceDelimiter,
        @scriptureReferenceDelimiterLocationStart
      )

    PRINT  @scriptureReferenceDelimiterLocationEnd

    -- If there is no more scripture reference delimiter,
    -- then process this scripture reference as the
    -- last scripture reference.
    IF  @scriptureReferenceDelimiterLocationEnd = 0
    BEGIN
        SET @scriptureReferenceSubset = RIGHT
            (
              @scriptureReference,
              @scriptureReferenceDelimiterLocationEnd -
              @scriptureReferenceDelimiterLocationStart
            )
    END  -- This is the last scripture reference.
    -- If this is not the last scripture reference delimiter,
    -- then retrieve this particular scripture reference
    -- subset within the entire scripture reference set.
    ELSE
    BEGIN
        SET @scriptureReferenceSubset = SUBSTRING
            (
              @scriptureReference,
              @scriptureReferenceDelimiterLocationStart,
              @scriptureReferenceDelimiterLocationEnd -
              @scriptureReferenceDelimiterLocationStart
            )
    END  -- This is not the last scripture reference.

    -- The Scripture Reference Subset Length
    SET @scriptureReferenceSubsetLength = LEN( @scriptureReferenceSubset )

    -- Parse the Scripture Reference Subset.
    -- Retrieve the book, chapter, and verse.
    SET  @scriptureReferenceSubsetBook         = ''
    SET  @scriptureReferenceSubsetPosition     =  1
    SET  @scriptureReferenceSubsetChapter      =  0
    SET  @scriptureReferenceSubsetChapterFrom  =  0
    SET  @scriptureReferenceSubsetChapterTo    =  0

    WHILE @scriptureReferenceSubsetPosition <= @scriptureReferenceSubsetLength
    BEGIN

      SET  @scriptureReferenceSubsetCurrentCharacter = SUBSTRING
           (
             @scriptureReferenceSubset,
             @scriptureReferenceSubsetPosition,
             1
           )

      IF ( @scriptureReferenceSubsetCurrentCharacter < 'A'   OR
           @scriptureReferenceSubsetCurrentCharacter > 'Z' ) AND
           @scriptureReferenceSubsetBook = ''
      BEGIN
        SET @scriptureReferenceSubsetBook = LEFT
           (
             @scriptureReferenceSubset,
             @scriptureReferenceSubsetPosition - 1
           )
        SET @scriptureReferenceSubsetDelimiterPosition =
            @scriptureReferenceSubsetPosition
      END

      IF ( @scriptureReferenceSubsetCurrentCharacter =
           @scriptureReferenceChapterVerseSeparator )
      BEGIN
        SET @scriptureReferenceSubsetChapter = CONVERT( INT, SUBSTRING
            (
              @scriptureReferenceSubset,
              @scriptureReferenceSubsetDelimiterPosition + 1,
              @scriptureReferenceSubsetPosition -
              @scriptureReferenceSubsetDelimiterPosition
            ) )

        IF  @scriptureReferenceSubsetChapterFrom <= 0
        BEGIN
            SET @scriptureReferenceSubsetChapterFrom =
                @scriptureReferenceSubsetChapter
        END
        ELSE
        BEGIN
            SET @scriptureReferenceSubsetChapterTo =
                @scriptureReferenceSubsetChapter
            SET @scriptureReferenceSubsetVerseTo = CONVERT( INT, RIGHT
            (
              @scriptureReferenceSubset,
              @scriptureReferenceSubsetLength -
              @scriptureReferenceSubsetDelimiterPosition - 1
            ) )

        END

        SET @scriptureReferenceSubsetDelimiterPosition =
            @scriptureReferenceSubsetPosition
      END

      -- Verse Delimiter.
      IF ( @scriptureReferenceSubsetCurrentCharacter =
           @scriptureReferenceVerseSeparator )
      BEGIN
        SET @scriptureReferenceSubsetVerseFrom = CONVERT( INT, SUBSTRING
            (
              @scriptureReferenceSubset,
              @scriptureReferenceSubsetDelimiterPosition + 1,
              @scriptureReferenceSubsetPosition -
              @scriptureReferenceSubsetDelimiterPosition
            ) )

        SET @scriptureReferenceSubsetDelimiterPosition =
            @scriptureReferenceSubsetPosition
      END

      SET  @scriptureReferenceSubsetPosition =
           @scriptureReferenceSubsetPosition + 1

      PRINT @scriptureReferenceSubsetPosition

    END  -- Parse the Scripture Reference Subset.

    -- Determine the book id and title for the current scripture reference.
    SELECT TOP 1
      @soundexDifference = DIFFERENCE( bookTitle, @scriptureReferenceSubset ),
      @soundexBookId     = soundexBookId,
      @soundexBookTitle  = bookTitle
    FROM BibleBook ( NoLock )
    ORDER BY DIFFERENCE( bookTitle, @scriptureReferenceSubset ) DESC

    PRINT 'Book Title:   ' + @soundexBookTitle
    PRINT 'Book IF:      ' + CONVERT( VarChar, @soundexBookId )
    PRINT 'Chapter From: ' + CONVERT( VarChar, @scriptureReferenceSubsetChapterFrom )
    PRINT 'Verse   From: ' + CONVERT( VarChar, @scriptureReferenceSubsetVerseFrom )
    PRINT 'Chapter To:   ' + CONVERT( VarChar, @scriptureReferenceSubsetChapterTo )
    PRINT 'Verse   To:   ' + CONVERT( VarChar, @scriptureReferenceSubsetVerseTo )

  END  -- While not the last scripture reference.

END  -- Stored Procedure End.
GO
/****** Object:  StoredProcedure [dbo].[uspURIChristInsert]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[uspURIChristInsert]
 @sequenceOrderId  INT           =  NULL,
 @dated            DATETIME      =  NULL,
 @uri              VARCHAR(255)  =  NULL,
 @title            VARCHAR(255)  =  NULL,
 @keyword          VARCHAR(255)  =  NULL
AS
BEGIN
 IF @dated IS NULL
 BEGIN
  SET @dated = GETDATE()
 END
 IF @sequenceOrderId IS NOT NULL
 BEGIN
  SET IDENTITY_INSERT URIChrist ON
  INSERT URIChrist
  (
   sequenceOrderId,
   dated,
   uri,
   title,
   keyword
  )
  VALUES
  (
   @sequenceOrderId,
   @dated,
   @uri,
   @title,
   @keyword
  )
  SET IDENTITY_INSERT URIChrist OFF
 END
 ELSE
 BEGIN
  INSERT URIChrist
  (
   dated,
   uri,
   title,
   keyword
  )
  VALUES
  (
   @dated,
   @uri,
   @title,
   @keyword
  )
 END
END
GO
/****** Object:  StoredProcedure [dbo].[uspURIChristUpdate]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[uspURIChristUpdate]
 @dated            DATETIME      =  NULL,
 @uri              VARCHAR(255)  =  NULL,
 @title            VARCHAR(255)  =  NULL,
 @keyword          VARCHAR(255)  =  NULL
AS
BEGIN
 UPDATE URIChrist SET
   dated            =  @dated,
   title            =  @title,
   keyword          =  @keyword
 WHERE uri = @uri
END

GO
/****** Object:  StoredProcedure [dbo].[uspUtilDatabaseRecoverySimple]    Script Date: 9/2/2026 10:50:00 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[uspUtilDatabaseRecoverySimple] AS

-- uspUtilDatabaseRecoverySimple.sql



/*

<recovery_options>

Controls database recovery options.

RECOVERY FULL | BULK_LOGGED | SIMPLE

If FULL is specified, complete protection against media failure is provided. If a data file is damaged, media recovery can restore all committed transactions.

If BULK_LOGGED is specified, protection against media failure is combined with the best performance and least amount of log memory usage for certain large scale or bulk operations. These operations include SELECT INTO, bulk load operations (bcp and BULK I
NSERT), CREATE INDEX, and text and image operations (WRITETEXT and UPDATETEXT).

Under the bulk-logged recovery model, logging for the entire class is minimal and cannot be controlled on an operation-by-operation basis.

If SIMPLE is specified, a simple backup strategy that uses minimal log space is provided. Log space can be automatically reused when no longer needed for server failure recovery.

Important  The simple recovery model is easier to manage than the other two models but at the expense of higher data loss exposure if a data file is damaged. All changes since the most recent database or differential database backup are lost and must be r
e-entered manually.

The default recovery model is determined by the recovery model of the model database. To change the default for new databases, use ALTER DATABASE to set the recovery option of the model database.

*/



Alter Database Master                  Set Recovery Simple

Alter Database Model                   Set Recovery Simple

Alter Database Comforter              Set Recovery Simple

Alter Database URI                       Set Recovery Simple

Alter Database WordEngineering  Set Recovery Simple

GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIAdvanceAustralia', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIAdvanceAustralia', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIBenediction', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIBenediction', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIBingNews'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIBingNews'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIChrist', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIChrist', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIGoogleNews', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIGoogleNews', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIMozillaPocket', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIMozillaPocket', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Commentary', @value=N'Based-in, headquarters, physical location, site hosting' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIWordEngineering', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'DatedCreation', @value=N'2026-09-02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'URIWordEngineering', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MyURI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MyURI'
GO
USE [master]
GO
