USE [master]
GO
/****** Object:  Database [UserDb]    Script Date: 01/13/2011 10:17:52 ******/
CREATE DATABASE [UserDb] ON  PRIMARY 
( NAME = N'UserDb_Data', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbData.MDF' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UserDb_Image_FileGroup] 
( NAME = N'UserDb_Image', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbImage.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UserDb_Index_FileGroup] 
( NAME = N'UserDb_Index', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbIndex.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UserDb_Text_FileGroup] 
( NAME = N'UserDb_Text', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbText.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [UserDb_Xml_FileGroup] 
( NAME = N'UserDb_Xml', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbXml.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'UserDb_Log', FILENAME = N'E:\SQLServerDataFiles\UserDb\UserDbLog.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserDb]
GO
/****** Object:  Table [dbo].[UserUnique]    Script Date: 01/13/2011 10:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserUnique](
	[UserUniqueId] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[FavoriteColor] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UserUnique] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USERS]    Script Date: 01/13/2011 10:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USERS](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GeometryJaniJarvinen]    Script Date: 01/13/2011 10:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeometryJaniJarvinen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[Points] [geometry] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_GeometryJaniJarvinen] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_UserUnique_Dated]    Script Date: 01/13/2011 10:17:53 ******/
ALTER TABLE [dbo].[UserUnique] ADD  CONSTRAINT [DF_UserUnique_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
/****** Object:  Default [DF_TB_USERS_Dated]    Script Date: 01/13/2011 10:17:53 ******/
ALTER TABLE [dbo].[TB_USERS] ADD  CONSTRAINT [DF_TB_USERS_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
/****** Object:  Default [DF_GeometryJaniJarvinen_Dated]    Script Date: 01/13/2011 10:17:53 ******/
ALTER TABLE [dbo].[GeometryJaniJarvinen] ADD  CONSTRAINT [DF_GeometryJaniJarvinen_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
