USE [master]
GO
/****** Object:  Database [Account]    Script Date: 5/1/2018 8:59:52 AM ******/
CREATE DATABASE [Account]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountData', FILENAME = N'E:\SQLServerDataFiles\Account\AccountData.MDF' , SIZE = 4608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%), 
 FILEGROUP [AccountImage] 
( NAME = N'AccountImage', FILENAME = N'E:\SQLServerDataFiles\Account\AccountImage.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%), 
 FILEGROUP [AccountIndex] 
( NAME = N'AccountIndex', FILENAME = N'E:\SQLServerDataFiles\Account\AccountIndex.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%), 
 FILEGROUP [AccountText] 
( NAME = N'AccountText', FILENAME = N'E:\SQLServerDataFiles\Account\AccountText.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%), 
 FILEGROUP [AccountXML] 
( NAME = N'AccountXml', FILENAME = N'E:\SQLServerDataFiles\Account\AccountXml.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'AccountLog', FILENAME = N'E:\SQLServerDataFiles\Account\AccountLog.LDF' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Account].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Account]
GO
/****** Object:  User [ephraimtech\ephwebuser]    Script Date: 5/1/2018 8:59:52 AM ******/
CREATE USER [ephraimtech\ephwebuser] FOR LOGIN [ephraimtech\ephwebuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ephraimtech\ephwebuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ephraimtech\ephwebuser]
GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 5/1/2018 8:59:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[AccountNumber] [int] NOT NULL,
	[AccountTitle] [varchar](500) NOT NULL,
	[NormalBalance] [varchar](255) NULL,
	[Commentary] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChartOfAccounts] ON 

INSERT [dbo].[ChartOfAccounts] ([AccountID], [Dated], [AccountNumber], [AccountTitle], [NormalBalance], [Commentary]) VALUES (1, CAST(N'2018-04-30T00:00:00.000' AS DateTime), 100000, N'Assets', N'N/A', NULL)
INSERT [dbo].[ChartOfAccounts] ([AccountID], [Dated], [AccountNumber], [AccountTitle], [NormalBalance], [Commentary]) VALUES (2, CAST(N'2018-04-30T00:00:00.000' AS DateTime), 200000, N'Liabilities', N'N/A', NULL)
INSERT [dbo].[ChartOfAccounts] ([AccountID], [Dated], [AccountNumber], [AccountTitle], [NormalBalance], [Commentary]) VALUES (3, CAST(N'2018-04-30T00:00:00.000' AS DateTime), 300000, N'Net Position', N'N/A', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChartOfAccounts] OFF
/****** Object:  Index [PK_AccountChart]    Script Date: 5/1/2018 8:59:53 AM ******/
ALTER TABLE [dbo].[ChartOfAccounts] ADD  CONSTRAINT [PK_AccountChart] PRIMARY KEY NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  CONSTRAINT [DF_ChartOfAccounts_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
USE [master]
GO
