USE [master]
GO
/****** Object:  Database [IweKiko]    Script Date: 2/29/2016 3:19:04 PM ******/
CREATE DATABASE [IweKiko]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IweKiko_Data', FILENAME = N'E:\SQLServerDataFiles\IweKiko\IweKikoData.MDF' , SIZE = 4032KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'IweKiko_Log', FILENAME = N'E:\SQLServerDataFiles\IweKiko\IweKikoLog.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IweKiko].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IweKiko]
GO
/****** Object:  Table [dbo].[Translate]    Script Date: 2/29/2016 3:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Translate](
	[SequenceOrderId] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL CONSTRAINT [DF_Translate_Dated]  DEFAULT (getdate()),
	[FromLanguage] [varchar](50) NULL,
	[FromWord] [nvarchar](128) NULL,
	[DestinationLanguage] [varchar](50) NULL,
	[DestinationWord] [nvarchar](128) NULL,
	[Commentary] [nvarchar](max) NULL,
	[Uri] [varchar](255) NULL,
	[ContactId] [int] NULL,
	[ScriptureReference] [varchar](max) NULL,
 CONSTRAINT [PK_Translate] PRIMARY KEY CLUSTERED 
(
	[SequenceOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Translate] ON 

INSERT [dbo].[Translate] ([SequenceOrderId], [Dated], [FromLanguage], [FromWord], [DestinationLanguage], [DestinationWord], [Commentary], [Uri], [ContactId], [ScriptureReference]) VALUES (1, CAST(N'2016-02-29 14:15:34.510' AS DateTime), N'English', N'Man', N'Yoruba', N'Okunrin', NULL, NULL, NULL, NULL)
INSERT [dbo].[Translate] ([SequenceOrderId], [Dated], [FromLanguage], [FromWord], [DestinationLanguage], [DestinationWord], [Commentary], [Uri], [ContactId], [ScriptureReference]) VALUES (2, CAST(N'2016-02-29 14:16:01.013' AS DateTime), N'English', N'Woman', N'Yoruba', N'Obinrin', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Translate] OFF
USE [master]
GO
