USE [master]
GO
/****** Object:  Database [SoughtOut]    Script Date: 2/1/2023 2:50:30 PM ******/
CREATE DATABASE [SoughtOut]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoughtOut_Data', FILENAME = N'E:\SQLServerDataFiles\SoughtOut\SoughtOutData.MDF' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%), 
 FILEGROUP [SoughtOut_Index_FileGroup] 
( NAME = N'SoughtOut_Index', FILENAME = N'E:\SQLServerDataFiles\SoughtOut\SoughtOutIndex.NDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5%)
 LOG ON 
( NAME = N'SoughtOut_Log', FILENAME = N'E:\SQLServerDataFiles\SoughtOut\SoughtOutLog.LDF' , SIZE = 153984KB , MAXSIZE = 2048GB , FILEGROWTH = 5%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoughtOut].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [SoughtOut]
GO
/****** Object:  User [ephraimtech\ephwebuser]    Script Date: 2/1/2023 2:50:31 PM ******/
CREATE USER [ephraimtech\ephwebuser] FOR LOGIN [ephraimtech\ephwebuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ephraimtech\ephwebuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ephraimtech\ephwebuser]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 2/1/2023 2:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[ActorID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[ScriptureReference] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
	[Commentary] [varchar](max) NULL,
	[Uri] [varchar](255) NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 2/1/2023 2:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[DayID] [int] IDENTITY(1,1) NOT NULL,
	[Dated] [datetime] NOT NULL,
	[ActorID] [int] NULL,
	[ScriptureReference] [varchar](max) NULL,
	[Title] [varchar](max) NULL,
	[Commentary] [varchar](max) NULL,
	[Uri] [varchar](255) NULL,
 CONSTRAINT [PK_Day] PRIMARY KEY CLUSTERED 
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actors] ADD  CONSTRAINT [DF_Actors_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[Days] ADD  CONSTRAINT [DF_Days_Dated]  DEFAULT (getdate()) FOR [Dated]
GO
ALTER TABLE [dbo].[Days]  WITH CHECK ADD  CONSTRAINT [FK_Days_Actors] FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actors] ([ActorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Days] CHECK CONSTRAINT [FK_Days_Actors]
GO
USE [master]
GO
